<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <div id="app">
      잔고: <input v-model="balance" />
      <br />
      회원님의 등급:
      <span v-if="balance > 1000000">Gold</span>
      <span v-if="1000000 >= balance & balance > 500000">Silver</span>
      <span v-if="500000 >= balance & balance > 200000">Bronze</span>
      <span v-if="200000 >= balance > 0">Basic</span>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      const vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            balance: 0,
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
